.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background: #282c34;
  color: white;
}

.nav-items{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

thead {
  background: #6D7AE0;
  color: white;
}

.timeholder{
  width: 20%;
  padding-left: 5%;
}

.cal{
  /* width: 30%; */
  /* height: 2000px; */
}

.split-box{
  float: left;
  /* padding-left: 10%; */
}

.date-form{
  max-width: 40%;
  /* padding: auto; */
}

.card, .card-body, .card-title{
  background: rgb(0, 108, 176);
  color: white;
  font-size: 30px
}